*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 100px;
    box-shadow: 1px 1px 5px #DEE2E6;
    padding: 5px;
    display: flex;
}
.imgNav{
    max-width: 100%;
}
.divImgNav{
    width: 60px;
}
.ulNav{
    display: flex;
    list-style:none;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
}
.liNav{
    margin: 0px 10px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    padding: 1.5rem 0;
    overflow: hidden;
}
.liNav:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #2a363b;
    transform: translateX(-100%);
    transition: transform 0.4s;
}
.liNav:hover:after{
    transform: translateX(0);
}

.liNavActive{
    margin: 0px 10px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    padding: 1.5rem 0;
    color:#DEE2E6;
}
.liNavActive:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #DEE2E6;
}
.noLink{
    text-decoration: none;
    color: black;
}
.noLinkActive{
    text-decoration: none;
    color: #DEE2E6;
}
.noLinkActive:hover{
    color:#DEE2E6;
}
.noLink:hover{
    color: black;
}

/*PELICULAS*/
.container-peliculas{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.pelicula{
    /*    flex:1 1 500px;*/
    width: 400px;

    margin: 5px 0px;
    text-align: center;
    position: relative;
    border:2px solid #DEE2E6;
    box-shadow: 2px 2px 10px #DEE2E6;
    display: flex;
    flex-direction: column;
}
.pelicula h5{
    margin: 5px 0px;
}
.contieneImgPelicula{
    position: relative;
    transform-origin: right center;
    transition: transform 0.5s;
    height: 300px;
    top: 0;
    left: 0;

}
.pelicula:hover{
    background-color: #333;
    overflow: initial;
    position: relative;
    color:white;
}
.pelicula:hover .contieneImgPelicula{
    transform: scale(0.7) translateX(200px);
    z-index: 100;
}
.contieneImgPelicula img{

    max-width: 100%;
    height: 300px;
}
.cubrePelicula{
    position: absolute;
    color: #ccc;
    transition: transform 0.5s;
    font-size: 2rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    display: flex;
    align-items: flex-end;
    visibility: hidden;
}
.cubrePelicula p{
    top: 0;
    left: 0;
    position: absolute;
}
.pelicula:hover .cubrePelicula{
    visibility: visible;
    transform: translateX(-360px);
}

.verCubrePelicula{
    text-decoration: none;
    color:#DEE2E6;
    border-radius: 10px;
    font-size: 22px;
    padding: 5px;
    position: relative;
    margin: 0px 5px;
}
.btnEdit{
    border: 1px solid turquoise;
    color:turquoise;
}
.btndetelete{
    border: 1px solid red;
    color:red;
}
.btnEdit:hover{
    background-color: turquoise;
    color:white;
}
.btndetelete:hover{
    background-color: red;
    color:white;
    cursor: pointer;
}
.btnAdd{
    margin: 15px 30px;
    display: inline-block;
    padding: 5px;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    color: red;    
    text-decoration: none;
    cursor: pointer;
}
.btnAdd:hover{
    color: red;
}
/*PELICULAS*/

/*************************************************************************************/
/*MODAL AGREGAR*/
.container-modal{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250,255,250,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    transition: visibility 0s;
}
.contenedorModalAddVisible{
    visibility: visible;
}
.modalAdd{
    border: 1px solid #DEE2E6;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #DEE2E6;
    width: 20%;
    height: 600px;
    padding: 20px;
    /*margin-top: 100px;*/
    transition: transform .9s;
    transform: translateY(-150%);
}
.modalAddVisible{
    transform: translateY(0);
}
.divFormP{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 5px;
}

.divFormP input{
    border: none;
    border-bottom: 1px solid #DEE2E6;
    outline: none;
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.divFormCat{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divFormCat div{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.btnEnv{
    width: 30%;
    background-color: white;
    border: 1px solid turquoise;
    border-radius: 10px;
    box-shadow: 0px 0px 5px turquoise;
    color: turquoise;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 120px;
    margin-top: 10px;
}
.btnEnv:hover{
    background-color: turquoise;
    color:white;
}
/*MODAL AGREGAR*/

/****************************************************************************************************/
/*Modal sesion*/
.containerModalSesion{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250,255,250,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    transition: visibility 0s;
}
.containerModalSesionVisible{
    visibility: visible;
}
.modalSesion{
    border: 1px solid #DEE2E6;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #DEE2E6;
    display: flex;

    /*    width: 20%;
        height: 600px;
        padding: 20px;*/
    /*margin-top: 100px;*/
    transition: transform .9s;
    transform: translateY(-250%);
}
.modalSesionVisible{
    transform: translateY(0);
}
.modalSesionImg{
    width: 70%;
    text-align: center;
    border-right: 1px solid #DEE2E6;
}
.modalSesionImg img{
    max-width: 100%;
    /*    height: 500px;*/
}
.modalSesionForm{
    padding: 10px;
    width: 30%;
    height: 100%;
}
.modalSesionForm form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0px;
    position: relative;
}
.labelModalsesion{
    position: absolute;
    left: 0;
    font-size: 10px;
}
.divForm input:focus ~ .labelModalsesion{
    transform: translate(0%,-150%); 

}

.divForm input{
    border: none;
    border-bottom: 1px solid #DEE2E6;
    outline: none;
    width: 100%;
}

.btnEnv{
    width: 30%;
    background-color: white;
    border: 1px solid turquoise;
    border-radius: 10px;
    box-shadow: 0px 0px 5px turquoise;
    color: turquoise;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.btnEnv:hover{
    background-color: turquoise;
    color:white;
}
.btnRegistro{
    color: rgb(143, 0, 255 );
    text-decoration: none;
    cursor: pointer;
}
.btnRegistro:hover{
    color:rgb(137, 73, 236 );
}
/*Modal sesion*/
/*Modal registro*/
.modalRegistro{
    border: 1px solid #DEE2E6;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #DEE2E6;
    display: flex;
    transition: transform .9s;
    transform: translateY(-350%);
}
.modalRegistroVisible{
    transform: translateY(0);
}
.modalRegistroForm{
    width: 100%;
    text-align: center;
}
.modalRegistroForm form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divFormR{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}
.divFormR input{
    padding: 2px;
    margin-top: 10px;
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #DEE2E6;
}
.btnEnvR{
    width: 30%;
    background-color: white;
    border: 1px solid turquoise;
    border-radius: 10px;
    box-shadow: 0px 0px 5px turquoise;
    color: turquoise;
    padding: 5px;
    margin: 10px 0px;
    font-size: 20px;
    text-align: center;
}
.btnEnvR:hover{
    background-color: turquoise;
    color:white;
}
.labelModalR{
    position: absolute;
    bottom: 10px;
    font-size: 10px;
}
.divFormR input:focus ~ .labelModalR{
    transform: translate(0%,-160%); 

}

/*Modal registro*/

